@tailwind base;
@tailwind components;
@tailwind utilities;

.case-internal {
    border: 1px solid black;
    margin-bottom: 0px;
}

.case-3d {
    width: 95%;
    padding: 0rem 1rem 0.75rem 0rem;
    position:relative; 
    border:1px solid black; display: inline-block;
    border-radius: 5px 5px 1rem 0;
}

.case-3d:before {
    position:absolute;
    left:-1px;
    bottom:-1px;
    content:'';
    border-bottom: 1rem solid black;
    border-right: 1rem solid transparent;
}

.case-3d:after {
    position:absolute;
    left:-2px;
    bottom:-2px;
    content:'';
    border-bottom: 1rem solid white;
    border-right: 1rem solid transparent;
}

.led {
    background: radial-gradient(circle at 25%, #eee 10%, #3b83f6, #265fbc 50%, #144189 100%);
}

.led:hover {
    background: radial-gradient(circle at 25%, #eee 10%, #3b83f6 50%, #3b83f6 50%, #3b83f6 100%);
}