@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/Oaks-Lab.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.bg-img-pokemon {
    background-image: url(./assets/Oaks-Lab.png);
    background-position: center;
    background-size: 100% 100%;
}*/

.case-internal {
    border: 1px solid black;
    margin-bottom: 0px;
}

.case-3d {
    padding: 0rem 1rem 0.75rem 0rem;
    border:1px solid black; display: inline-block;
    border-radius: 5px;
}

.led {
    background: radial-gradient(circle at 25%, #eee 10%, #3b83f6, #265fbc 50%, #144189 100%);
}

.led:hover {
    background: radial-gradient(circle at 25%, #eee 10%, #3b83f6 50%, #3b83f6 50%, #3b83f6 100%);
}